<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644139845087-5auq0unk4gl6o7bpe2tfnopad7ccql3p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644139845087-5auq0unk4gl6o7bpe2tfnopad7ccql3p</string>
	<key>API_KEY</key>
	<string>AIzaSyDiiq4SyddJqoY8J7Q9DwwGSl7SU9j_fow</string>
	<key>GCM_SENDER_ID</key>
	<string>644139845087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.udemy.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-dd9e1</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-dd9e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644139845087:ios:1157d10876958e7fba706a</string>
</dict>
</plist>